/* Simplified Schedule */
#simplified-schedule {
    width: 100%;
    display: block;
}
#simplified-calendar {
    width: 56%;
    float: left;
    margin: 0% 2%;
}
#simplified-listing {
    width: 36%;
    float: left;
    margin: 0% 2%;
    clear: right;    
}
.schedule-details-simplified {
    width: 100%;
}